<volume type='file'>
  <name>{{ vm_name }}</name>
  <key>/var/lib/libvirt/images/{{ vm_name }}</key>
  <capacity unit='bytes'>2147483648</capacity>
  <target>
    <path>/var/lib/libvirt/images/{{ vm_name }}.cqow2</path>
    <format type='qcow2'/>
  </target>
  <backingStore>
    <path>/var/lib/libvirt/images/rhel-{{ version }}-x86_64.qcow2</path>
    <format type='qcow2'/>
  </backingStore>
</volume>
