<volume type='file'>
  <name>{{ vm_name }}.qcow2</name>
  <key>/var/lib/libvirt/images/{{ vm_name }}.cqow2</key>
  <capacity unit='GiB'>{{ storage_amount }}</capacity>
  <target>
    <path>/var/lib/libvirt/images/{{ vm_name }}.qcow2</path>
    <format type='qcow2'/>
  </target>
  <backingStore>
    <path>/var/lib/libvirt/images/rhel-{{ version }}-x86_64-kvm.qcow2</path>
    <format type='qcow2'/>
  </backingStore>
</volume>
